<div class="text-center mt-4">
    <h3 >Welcome, to home page </h3>
        <% if logged_in?%>
            <div>
                <span>You are Logged In as,<b> <%= current_user.username %></b></span>
                <span><%= button_to'LogOut',session_path("a"),method: :delete, class:"btn btn-danger"%></span>
                <%= link_to "Users page", user_path(current_user) %><br>
            <% else %>
                <%= button_to "Login", '/login', method: :get,class:"btn btn-primary"%>
                <%= button_to "Sign Up", new_user_path, method: :get,class:"btn btn-success"%><br><br>
            </div>
        <% end %>
        <div><%= link_to 'See Posts', posts_path ,class:"text-center"%></div>
</div>


